<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.todo253142" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Todo</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">
      Ionic Framework Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">s
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  
  <platform name="ios">
    <icon src="www/img/icon-60.png" width="60" height="60"></icon>
    <icon src="www/img/icon-60@2x.png" width="120" height="120"></icon>
    
    <splash src="www/img/Default-568h@2x~iphone.png" width="640" height="1136" />
    <splash src="www/img/Default-667h.png" width="750" height="1334" />
  </platform>
  
</widget>